<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <!-- Brand Logo -->
      <a class="navbar-brand" href="/dashboard">
        <img src="https://yt3.ggpht.com/-DwUvNKX8sYI/AAAAAAAAAAI/AAAAAAAAAAA/J-wQLDjad6A/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-top">
        Inventory
        <!-- Logo Image with alt text and sizing -->
      </a>
      
      <!-- Toggler for Offcanvas -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Offcanvas Menu -->
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <img src="https://yt3.ggpht.com/-DwUvNKX8sYI/AAAAAAAAAAI/AAAAAAAAAAA/J-wQLDjad6A/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-top">
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-lg-flex justify-content-lg-between">
          
          <!-- Navbar Links -->
          <ul class="navbar-nav justify-content-start pe-3">
            <li class="nav-item mx-lg-2">
              <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
            </li>
            <li class="nav-item mx-lg-2">
              <a class="nav-link active" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item mx-lg-2">
              <a class="nav-link active" href="/add-item">Add Item</a>
            </li>
            <li class="nav-item dropdown mx-lg-2">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Reports
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/reports/stock">Stock Report</a></li>
                <li><a class="dropdown-item" href="/reports/sales">Sales Report</a></li>
              </ul>
            </li>
          </ul>
  
          <!-- Search Form -->
          <form action="/search" class="d-flex col-lg-4 mt-1" role="search">
            <input class="form-control me-2" type="search" name="query" placeholder="Search Inventory" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
  
          <!-- Static Login/Signup Links -->
          <ul class="navbar-nav justify-content-start pe-3">
            <li class="nav-item mx-lg-2">
              <a class="nav-link" href="/signup">Sign up</a>
            </li>
            <li class="nav-item mx-lg-2">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- Bootstrap JS (Include after jQuery if needed) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  